.menubar {
    background-color: rgb(19, 117, 156);
    padding: 20px 0;
    font-size: 18px;

}

.manubar-item {
    padding: 20px 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}


.manubar-item:hover {
    color: rgb(236, 128, 128);
    border-bottom: 2px solid rgb(214, 116, 25);
}